includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
  paths:
    - app
    - tests
  level: 7
  ignoreErrors:
    -
        identifier: missingType.iterableValue
        path: tests
    -
        '#no value type specified in iterable type array.#'
    -
        '#Unable to resolve the template type (.*) in call to function collect#'
  reportMaybes: false
