includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
  paths:
    - app
    - tests
  level: 7
  ignoreErrors:
    -
        identifier: missingType.iterableValue
        path: tests
    -
        '#no value type specified in iterable type array.#'
    -
        '#Unable to resolve the template type (.*) in call to function collect#'
    -
        '#Static method Redis::set\(\) invoked with 4 parameters, 2-3 required#'
    -
        '#Parameter \#3 \$options of static method Redis::set\(\) expects array\|int, string given#'
    -
        '#.*with generic class Illuminate\\Database\\Eloquent\\Builder.*#'
    -
        '#Call to an undefined method.*Illuminate\\Database\\Eloquent.*#'
    -
        '#.*should return Illuminate\\Database\\Eloquent.*#'
    -
        '#.*return type with generic class Illuminate\\Database\\Eloquent\\Relations.*does not specify its types.*#'
  reportMaybes: false
